*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: hsl(225, 100%, 94%);
    --secondary-color: hsl(245, 75%, 52%);
    --light-color: hsl(225, 100%, 98%);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Red Hat Display", sans-serif;
    background-image: url("./images/pattern-background-mobile.svg");
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
    background-color: var(--primary-color);
}

.order-container {

    width: 375px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 25px 4px 0px rgba(31,47,86,0.16);
-moz-box-shadow: 0px 25px 4px 0px rgba(31,47,86,0.16);
box-shadow: 0px 25px 4px 0px rgba(31,47,86,0.16);
}

.order-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.order-info {
    padding: 2rem 1.5rem;
}

.title,
.description {
    text-align: center;
}

.title {
    font-weight: 900;
}

.description {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    line-height: 1.8em;
}

.order-plan {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    background-color: var(--light-color);
    padding: .8rem;
}

.order-plan a:hover {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

.order-price {
    text-align: left;
    width: 60%;
}

.order-price p {
    margin: .5rem;
}

.order-price :nth-child(1) {
    font-weight: 900;
}

.cta,
.cancel {
    display: block;
    text-align: center;
    margin: 1.8em auto;
    text-decoration: none;
}

.cta {
    padding: 1rem 0;
    background-color: var(--secondary-color);
    color: #fff;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 20px 15px 0px rgba(224,232,255,1);
    -moz-box-shadow: 0px 20px 15px 0px rgba(224,232,255,1);
    box-shadow: 0px 20px 15px 0px rgba(224,232,255,1);
}

.cta:hover {
    background-color: hsl(224, 23%, 55%);
    -webkit-box-shadow: 0px 13px 15px 0px rgba(224,232,255,1);
    -moz-box-shadow: 0px 13px 15px 0px rgba(224,232,255,1);
    box-shadow: 0px 13px 15px 0px rgba(224,232,255,1);
}

.cancel {
    color: hsl(224, 23%, 55%);
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}